/* Device Management specific styles */
#device-list,
#add-device,
#edit-device {
    margin-bottom: 20px;
}

#edit-device {
    display: none;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 140px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}