/* Observation Management specific styles */
#observation-list,
#add-observation,
#edit-observation {
    margin-bottom: 20px;
}

#edit-observation {
    display: none;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 300px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}